<div class="my-6 lg:flex lg:items-center lg:justify-between">
  <div class="flex-1 min-w-0">
    <h1 class="text-2xl font-semibold">A chirp is awaiting your approval</h1>
    <p class="text-indigo-600"><%= link_to "Approve it here", @url %></p>
  </div>
</div>
