<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Your friend, <%= @chirp_request.sender %>, has something to say.</h1>
    <p>
      <%= @chirp.text %><br>
      <%= @chirp.attribution %><br>
    </p>
    <p>
      To say something back, visit: <%= @url %>.
    </p>
  </body>
</html>