<header class="flex items-center justify-center">
  <h1 class="text-5xl font-semibold">Chirp a friend</h1>
  <p>The NHL season may be on hold. That doesn't mean you have to stop running your mouth</p>
</header>