<header class="flex flex-col items-center justify-center text-gray-800 relative">
  <h1 class="rotating-container text-4xl tracking-tight leading-10 font-extrabold text-gray-900 sm:text-5xl sm:leading-none md:text-6xl">
    <span>Chirp </span><span class="text-indigo-600">a</span> 
    <span class="rotating text-indigo-600">
      <span class="rotate-start">friend</span>
      <span class="rotate-word">coworker</span>
      <span class="rotate-word">sibling</span>
      <span class="rotate-end">nyone</span>
    </span></h1>
  <p class="mt-3 text-base text-gray-600 sm:mt-5 sm:text-lg sm:max-w-xl sm:mx-auto md:mt-5 md:text-xl lg:mx-0">The NHL season may be on hold. That doesn't mean you have to stop running your mouth</p>
  <div class="mt-5 sm:mt-8 sm:flex sm:justify-center lg:justify-start">
    <div class="rounded-md shadow">
      <%= link_to "Get started", chirps_path, class: "w-full flex items-center justify-center px-8 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out md:py-4 md:text-lg md:px-10"%>
    </div>
  </div>
</header>

<section class="max-w-screen-xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8 lg:flex lg:items-center lg:justify-between">
  <h2 class="text-3xl leading-9 font-extrabold tracking-tight text-indigo-900 sm:text-4xl sm:leading-10">
    Browse our <span class="text-indigo-600">chirp library</span>
    <br />
  </h2>
  <div class="mt-8 flex lg:flex-shrink-0 lg:mt-0 p-10 w-full lg:w-1/2">
    <div class="inline-flex rounded-md shadow">
      <%= image_tag "chirp_shot.png", class: "rounded-md shadow" %>
    </div>
  </div>
  </section>

  <section class="max-w-screen-xl mx-auto py-10 sm:py-12 px-4 sm:px-6 lg:py-16 lg:px-8 lg:flex lg:items-center lg:justify-between bg-indigo-700 rounded-md">
  <div class="mt-8 flex lg:flex-shrink-0 lg:mt-0 p-10">
    <div class="inline-flex rounded-md shadow">
      <%= image_tag "youpi.png", class: "rounded-md shadow" %>
    </div>
  </div>
  <div class="sm:p-6">
    <h2 class="text-3xl leading-9 font-extrabold tracking-tight text-indigo-100 sm:text-4xl sm:leading-10">
    Provide us with the details
    <br />
  </h2>
  <p class="text-indigo-300">We just need your name and an email address for the person you want to chirp</p>
  </div>
  </section>

  <section class="max-w-screen-xl mx-auto py-10 sm:py-12 px-4 sm:px-6 lg:py-16 lg:px-8  flex flex-col items-center justify-center text-indigo-800">
  <h1 class="text-3xl leading-9 font-extrabold tracking-tight text-indigo-900 sm:text-4xl sm:leading-10">
    Make your voice <span class="text-indigo-600">heard</span>
  </h1>
  <p class="mt-3 text-base text-gray-600 sm:mt-5 sm:text-lg sm:max-w-xl sm:mx-auto md:mt-5 md:text-xl lg:mx-0">That's it!  </p>
  <div class="mt-5 sm:mt-8 sm:flex sm:justify-center lg:justify-start">
    <div class="rounded-md shadow">
      <%= link_to "Get started", chirps_path, class: "w-full flex items-center justify-center px-8 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out md:py-4 md:text-lg md:px-10"%>
    </div>
  </div>
</section>