.rotating-container {
  min-width: 400px;
  margin: 0;
}

.rotating {
  display: inline;
  position: relative;
  text-indent: 15px;
  margin: 0;
}

.rotating span {
  position: absolute;
}

.rotating .rotate-start {
  animation: rotateStart 3s linear forwards 2s;
}

.rotating .rotate-word {
  opacity: 0;
  animation: rotateWord 9s linear forwards 0s;
}

.rotating .rotate-end {
  opacity: 0;
  animation: rotateEnd 6s linear forwards 0s;
}

.rotating span:nth-child(2) {
  animation-delay: 3s;
}

.rotating span:nth-child(3) {
  animation-delay: 6s;
}

.rotating span:nth-child(4) {
  animation-delay: 9s;
  text-indent: 0px;
}

@keyframes rotateStart {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 0;
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes rotateWord {
  0% {
    opacity: 0;
  }
  2% {
    opacity: 0;
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  5% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  17% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  20% {
    opacity: 0;
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes rotateEnd {
  0% {
    opacity: 0;
  }
  2% {
    opacity: 0;
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  5% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  17% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}
